@import url('https://fonts.googleapis.com/css?family=Barlow:300');

/* Body padding and margin set to 0. */
body {
    padding: 0;
    margin: 0;
}

/* Header set to display of block. Height and width set to 800px an 100% respectively. Background styles applied to cover background and parallax scroll. */
header {
    display: block;
    height: 800px;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1515343480029-43cdfe6b6aae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* Header font styles applied. Set to fixed position so content will scroll over text. */
header h1 {
    position: fixed;
    top: 80px;
    text-align: center;
    color: white;
    font-family: 'Barlow',
        sans-serif;
    font-size: calc(4vw + 32px);
    margin: 0 auto;
    width: 100%;
}

header h2 {
    position: fixed;
    top: 200px;
    text-align: center;
    color: white;
    font-family: 'Barlow',
        sans-serif;
    font-size: calc(2vw + 16px);
    margin: 0 auto;
    width: 100%;
}

/* Navigation styles applied. Fixed to top of page. */
nav {
    font-family: 'Barlow',
        sans-serif;
    position: fixed;
    top: 0;
    z-index: 2000;
    background: rgb(61, 61, 61);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    width: 100%;
}

/* Mobile and desktop navigation display styles set based on screen width. */
div.desktop {
    display: block;
}

div.mobile {
    display: none;
}

/* Navicon hidden on desktop. */
i.fa-bars {
    display: none;
}

/* Nav link font styles. Floated to left and added padding. */
nav a {
    float: left;
    padding: 20px;
    text-decoration: none;
    color: white;
}

/* Nav hover styles. */
nav a:hover {
    color: rgb(77, 189, 223);
}

/* Article set to display of columns. Top set to -200px to place over header. */
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    width: 80%;
    z-index: 1000;
    background: white;
    top: -200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

/* H1 font styles. */
h1 {
    font-family: 'Barlow',
        sans-serif;
    color: rgb(61, 61, 61);
}

/* Label font size set. */
label {
    font-size: 18px;
}

/* Input display and font styles set. */
input {
    width: 100%;
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: .2s;
    border: 0;
    padding: 12px 30px;
    font-family: 'Barlow',
        sans-serif;
    color: rgb(61, 61, 61);
    font-size: 18px;
}

/* Input with class of button styles set. */
input.button {
    width: 100%;
    background-color: rgb(61, 61, 61);
    color: white;
}

/* Image styles set to white background with 100% width. Box shadow applied. 20px padding applied. */
img {
    background-color: white;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

/* Select set to width of 100%. Background set to white. Display set to block. Margin set to 10px on top and bottom. Position relative. Shadow added. Font styles applied. */
select {
    width: 100%;
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: .2s;
    border: 0;
    font-family: 'Barlow',
        sans-serif;
    color: rgb(61, 61, 61);
    font-size: 18px;
}

/* Input group font and padding styles applied. Click and hover styles applied. */
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: .2s;
}

.inputGroup:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

/* InputGroup label font styles set. Added padding and width styles. */
.inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color .2s ease-in;
    overflow: hidden;
}

/* InputGroup label width and height set to 10px. Border radius of 50%. Content set, background color applied. Positioned in center with absolute positioning. Transform position to center element. Opacity of 0, z-index of -1.*/
.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: rgb(61, 61, 61);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

/* White Checkmark inside box. Set to center of circle. Set to 32px by 32px in size. Content set. Border and background applied. */
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s ease-in;
}

/* Code changes styles based on if inputGroup input is checked, */
.inputGroup input:checked~label {
    color: #fff;
}

.inputGroup input:checked~label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked~label:after {
    background-color: rgb(77, 189, 223);
    border-color: rgb(77, 189, 223);
}

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

/* Form max-width set to 550px. Font styles applied. */
.form {
    max-width: 550px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

/* Box sizing inherited by all elements. */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Font styles applied. Box sizing set to border box. */
html {
    box-sizing: border-box;
    font-family: 'Barlow',
        sans-serif;
    color: rgb(61, 61, 61);
}

/* Table size display styles change menu from desktop to mobile design. */
@media only screen and (max-width: 768px) {
    div.desktop {
        display: none;
    }

    i.fa-bars {
        display: block;
        float: left;
        padding: 20px;
        text-decoration: none;
        color: white;
        z-index: 2000;
        width: 100%;
    }

    div.mobile {
        display: block;
    }

    div.mobile a {
        display: none;
        width: 100%;
    }

    div.mobile:hover a {
        display: block;
        width: 100%;
        border-top: rgb(211, 211, 211) 1px solid;
    }

    article {
        grid-template-columns: 1fr;
    }

}